<form  [formGroup]="EventTypeForm" >
<mat-toolbar class="example-toolbar mat-elevation-z0 my-toolbar">
    <h3>Event Type</h3>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button color="light" [routerLink]="['/EventTypelist']"><mat-icon text-right>close</mat-icon></button>
  </mat-toolbar>
    <mat-card class="mat-elevation-z1 mt-3">
        <mat-card-content>
            <div class="row">
            
            <div class="col-12 col-sm-6">
              <mat-form-field appearance="outline">
                <mat-label>Event type </mat-label>
                <input matInput type="text" appAutoFocus required [(ngModel)]="ParamForms.event_type" formControlName="event_type">
                <mat-error *ngIf="errorHandling('event_type','required')"> Event Type is required!</mat-error>
              </mat-form-field>
            </div> 
            
              <div class="col-12 col-sm-6">
                <mat-checkbox labelPosition="before" [(ngModel)]="ParamForms.is_active" formControlName="is_active">Active!</mat-checkbox>
                <!-- <mat-form-field appearance="outline">
                  <mat-label>Active</mat-label> -->
                  <!-- <mat-select  [(ngModel)]="ParamForms.bIsActive" formControlName="bIsActive">
                    <mat-option *ngFor="let d of status" [value]="d.id">
                        {{d.name}}
                    </mat-option>
                  </mat-select> -->
                <!-- </mat-form-field> -->
              </div>                
            </div>      
        </mat-card-content>
        <mat-card-footer>
            <div class="float-right mt-3 mb-3">
                <button mat-raised-button color="primary" style="margin: 8px 8px 8px 0;" (click)="Save()">
                  <mat-icon text-right>save</mat-icon> Save
                </button>
                <button mat-raised-button color="accent" style="margin: 8px 8px 8px 0;" [routerLink]="['/EventTypelist']">
                    <mat-icon text-right>list</mat-icon> Get List
                  </button>
                <button mat-raised-button color="warn" style="margin-right: 16px;"  [routerLink]="['/EventTypelist']">
                    <mat-icon text-right>close</mat-icon> Close
                </button>
            </div> 
        </mat-card-footer>  
    </mat-card>
  </form>
