<form  [formGroup]="ChangePasswordForm"  >
  <button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
<h2 mat-dialog-title>Change Password</h2>

<div mat-dialog-content>
    
<p style="font-size: 10px;color: #516197;">{{this.passwordLbl}}</p>
  <mat-form-field appearance="outline" class="mt-1">
    <mat-label>Current Password</mat-label>
    <input matInput type="password" required cdkFocusInitial [(ngModel)]="ParamForms.tUserOldPassword" formControlName="tUserOldPassword">
    <mat-error *ngIf="errorHandling('tUserOldPassword','required')">Old Password is required!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>New Password</mat-label>
    <input matInput type="password" required [(ngModel)]="ParamForms.tUserNewPassword" formControlName="tUserNewPassword">
    <mat-error *ngIf="errorHandling('tUserNewPassword','required')">New Password is required!</mat-error>
    <!-- <mat-icon matPrefix>vpn_key</mat-icon> -->
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Confirm New Password</mat-label>
    <input matInput type="password" required [(ngModel)]="ParamForms.tUserNewPasswordConf" formControlName="tUserNewPasswordConf">
    <mat-error *ngIf="errorHandling('tUserNewPasswordConf','required')">Confirm Password is required!</mat-error>
    <mat-error *ngIf="errorHandling('tUserNewPasswordConf','confirmedValidator')">New Password and Confirm New Password must be match!</mat-error>
    <!-- <mat-icon matPrefix>vpn_key</mat-icon> -->
  </mat-form-field>
</div>
<div mat-dialog-actions >
  <!-- <div class="float-right mt-12 mb-12" style="display:inline !important"> -->
  <button mat-raised-button color="primary" (click)="change()">Save</button>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
<!-- </div> -->
</div>
</form>